
<!-- header section
================================================== -->
<div class="top-header"></div>


<!-- about section
================================================== -->
<section id="about" class="paralla-section">
	<div class="container">
		<div class="row">
        
			<div class="col-md-6 col-sm-12">
				<img src="/images/bigstock--124710584.jpg" class="img-responsive" alt="about img 1">
			</div>
            
			<div class="col-md-6 col-sm-12">
				<div class="about-des">
					<h4>Success by Evaluating Risk</h4>
					<h3>AI Powered Risk Management</h3>
					<p>Diversified Risk Solutions&reg; is a leading provider of insurance, risk management, bonding, consulting and employee benefits solutions to individuals and businesses globally. 
			Our team of industry leading professionals utilize our LOGIC system, the most advanced technology available, with our core value emphasis on personal relationships to ensure that we deliver custom tailored solutions in an 
			increasingly commoditized industry. Thanks to Divrisk's proprietary agent platform, which uses artificial intelligence and machine learning, it has been able to grow the business by streamlining processes. </p>
			 
					
				</div>
			</div>

		</div>
        
        <div class="row">
			
			<div class="col-md-6 col-sm-12">
				<div class="about-des">
					<h4>Modern Insurance Agency</h4>
					<h3>Bringing YOU to the NEXT Level</h3>
					<p>The Diversified Risk Solutions&reg; culture emphasizes education and professional development, with a team composed of individuals with professional experience and training. The rigorous educational foundation can be seen first hand by our President & Founder Paul Gaglioti III, CIC. A Certified Insurance Counselor (CIC) is one of the nation's most prestigious professional designations, with only 30,000 professionals globally that have attained such a feat. 
					With over 18 hours of testing and 100 hours of in depth classroom education, the CIC is a designation unlike any other. More about the CIC can be found here.</a></p>
            <p>Diversified Risk Solutions&reg; was founded on one key principle: Success by evaluating risk. Our team of licensed professionals works with clients of all sizes, considering each of their unique risks and goals. We start with the needs of our clients and ends with an appropriate program that is structured for change to provide our clients the best overall combination of coverage, service and value. In turn, our clients are provided with the most comprehensive products relative to each client's unique needs. Our team exceeds expectations for all clients because our team doesn't just hold itself out as a professional organization we cultivate it. Each team member pursues educational and professional development goals in insurance and related industries. We maintain focus on the future to provide industry-leading products with an emphasis on the best value added service. With us, clients are not just a policy number.</p>
					
					
				</div>
			</div>
            
            <div class="col-md-6 col-sm-12">
				<img src="/images/app.png" class="img-responsive" alt="about img 2">
			</div>

		</div>
	</div>
</section>


<!-- blog section
================================================== -->
<section id="services" class="paralla-section">
	<div class="container">
		<div class="row">
			<h2><font color="#ffa400">OUR SERVICES</font></h2>
			<h4>Powerful Risk Management System</h4>

			<div class="blog-masonry masonry-true">

				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp">
					<div class="blog-wrapper">
						<img src="/images/bigstock--164482571.jpg" class="img-responsive" alt="blog img">
						<h3><a href="126/CommercialInsurance/CommercialPackagePolicy.html">Commercial Package Policy</a></h3>
					<p>A commercial package policy provides both property and liability coverage. It offers you a variety of bundle options and greater flexibility for mid to large-size businesses and high-hazard type of businesses. The commercial packaging policy covers assets that are a part of your
				business such as the building, contents, equipment, and computers.</p>
					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="blog-wrapper">
						<img src="/images/blog-img-2.jpg" class="img-responsive" alt="blog img">
						<h3><a href="880/PersonalInsurance/SpecialEvent.html">Special Events Policy</a></h3>
						<p>If you are having a public event whether a wedding and reception or a festival you need the protection of Special Event Insurance. Our Event Liability Insurance is designed to protect the policyholder against lawsuits, cancellation, claims made related to bodily injury of others, and property damage to the rented premise.</p>
				</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.4s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-Female-business-owner-holding--168372248.jpg" class="img-responsive" alt="blog img">
						<h3><a href="160/CommercialInsurance/BusinessOwnerPolicy.html">Small Business Policy</a></h3>
						<p>A business owner needs a bundled package of general liability, workers' compensation, property protection, and professional liability. A BOP can help cover your business from claims resulting from events such fires, theft, or any other kind of disaster and from claims involving bodily injury, property damage and personal and advertising injury.</p>

					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-Couple-eating-at-hotel-restaur-185381023.jpg" class="img-responsive" alt="blog img">
						<h3><a href="025/PersonalInsurance/Personal.html">Personal Insurance</a></h3>
						<p>You pride yourself on being an individual and we appreciate that about you. Each of your unique interests, hobbies and tastes make you distinct from everyone else. However, the downside is that many insurance programs may not be the right fit for individuals like you. Perhaps, your stamp collection turns into more than a hobby or that table Aunt Suzy gave you ended up being built in the 1700s and you need an insurance program that fits your needs. Our Personal Risk Solution program is perfect for you because it is all about you.
</p>
					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.8s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-American-style-truck-on-freewa-170163227.jpg" class="img-responsive" alt="blog img">
						<h3><a href="127/CommercialInsurance/BusinessAuto.html">Business Auto Insurance</a></h3>
						
						<p>Business Auto Liability insurance helps cover financial risks and protects company assets if you or your employees are at fault in an automobile accident that results in injuries or property damages. Here at Diversified Risk Solutions, we can help you with all your questions, hesitations, and concerns to help ensure you feel like your company is being protected. Even if you are unsure if you need this type of insurance, give us a call. If you use any kind of vehicle for a business purpose, it's always best to have the right protection especially when a unique situation arises.</p>
					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="1.0s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-blue-glass-wall-of-modern-comm-18518501.jpg" class="img-responsive" alt="blog img">
						<h3><a href="140/CommercialInsurance/Property.html">Property Insurance</a></h3>
						<p>Commercial Property Insurance helps your business stay protected in case of an emergency. It covers the business' property, all the tools and equipment, and any kind of assets inside the building that are <strong>owned</strong> or <strong>leased</strong>. Businesses can also have different commercial property insurance on different items. If there are certain valuable papers or records, there can be additional coverage on those specific items.</p>
					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-Production-Line-In-Modern-Dair-1282691.jpg" class="img-responsive" alt="blog img">
						<h3>Product Recall Insurance</h3>
						<p>Product recall insurance is a pretty useful tool if your company is one who designs, manufactures, distributes, or sells any kind of product, ranging from shampoo to pizza to office supplies. It is strongly advisable in any event that your company's product is defective or damaging to a consumer's life or property.  Product recall liability will provide financial coverage and protection in these types of situations. Product recall liability is set up in two different ways. First, it can be added to your already existing general liability insurance policy or, secondly, it can be purchased separately and customized to tailor your business the right way. </p>
					</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="blog-wrapper">
						<img src="/images/bigstock-building-under-construction-wi-19570979.jpg" class="img-responsive" alt="blog img">
						<h3><a href="237/Industry/Construction.html">Construction Industry</a></h3>
						<p>While working on projects such as ones with a large investment rate and multiple complex parts, there many types of risks that can threaten a business. They can range from contractual and surety needs to environmental exposes and federal protected areas to security of the site. In this industry, it is a must work with the insurer and have a complete understanding and commitment.
Our brokers can help to customize the coverage your business needs.</p>
</div>
				</div>
				<div class="post-masonry col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.2s">
					<div class="blog-wrapper">
						<img src="/images/bigstock--180674380.jpg" class="img-responsive" alt="blog img">
						<h3><a href="080/PersonalInsurance/HomeownerPolicy.html">Homeowner Insurance</a></h3>
						<p>Homeowners insurance is designed to cover your home and any possessions inside of it from risks such as burglary, theft, fire, or severe storms. 
						If you have guests over, your home liability coverage can protect you from financial responsibility that may arise if anyone gets injured during their visit or if any of their personal property is damaged at your residence.</p>
</div>
				</div>
				
				
				
			</div>

		</div>
	</div>
</section>




<div class="product-showcase">
    <!-- PROMOTED -->
    <h3 style="text-align: center;">Promoted</h3>
    <div class="promoted-entities">
        <div class="promoted-item">

        {{#if promotedError}} {{promotedError}} {{else}} {{#if promotedItems}} {{#each promotedItems}}


            <div class="promoted-item-body">


                <!--tab form-->
                <!-- PRODUCT LIST -->

                <div class="product-list grid column4-wrap">
                    <!-- PRODUCT ITEM -->
                    <div class="product-item column">
                        <!-- PRODUCT PREVIEW ACTIONS -->
                        <div class="product-preview-actions">
                            <!-- PRODUCT PREVIEW IMAGE -->
                            <figure class="product-preview-image" style="min-height: 160px; min-width: 160px;">
                                <a href="{{detailsURL}}" data-navigo2>    
                                    {{#if imageURL}}
                                        <img class="search-result-promo-image" src="{{imageURL}}" alt="product-image" style="min-height: 160px; min-width: 160px;"/>
                                    {{else}}<img class="search-result-promo-image" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png" alt="product-image" style="min-height: 160px; min-width: 160px;"/>{{/if}}
                                </a>
                            </figure>
                            <!-- /PRODUCT PREVIEW IMAGE -->

                        </div>
                        <!-- /PRODUCT PREVIEW ACTIONS -->

                        <!-- PRODUCT INFO -->
                        <div class="product-info">
                            <a href="{{detailsURL}}">
                                <p class="text-header" style="font-weight: 600;">{{name}}</p>
                            </a>
                            <p class="product-description" style="overflow: scroll; max-height: 200px;">{{description}}</p>
                            {{#if url}}
                            <a href="{{url}}" target="_blank">{{url}}</a>{{/if}} {{#if category}}
                            <p class="category tertiary">{{category}}</p>
                            {{/if}}
                            </a>
                        </div>
                        <!-- /PRODUCT INFO -->
                        <hr class="line-separator">
                        <!-- USER RATING -->
                        <!--
                        <div class="user-rating">
                            <a href="author-profile.html">
                                <figure class="user-avatar small" style="max-height: 30px; max-width: 30px;">
                                    <img src="images/haley/vitalfavicon.png" alt="user-avatar">
                                </figure>
                            </a>
                            <a href="author-profile.html">
                                <p class="text-header tiny">Vital AI</p>
                            </a>
                        </div>-->
                        <!-- /USER RATING -->
                    </div>
                    <!-- /PRODUCT ITEM -->

                </div>

            </div>

            {{/each}}

            <div class="clearer"></div>

            {{else}} (promoted content unavailable) {{/if}} {{/if}}

        </div>
    </div>
    <!-- /PROMOTED -->
</div>
<!-- /PRODUCT SHOWCASE -->
<div class="content">

    <!-- HEADLINE -->
    <div class="headline secondary">
        <form class="search-widget-form search-panel">

            <input type="text" class="product-search-active product-input-text" value="" placeholder="Search here..."/>

            <label for="categories" class="select-block">
                Category
                <select name="categories" id="categories" class="product-search-active product-category">
                    <option value="Top">All Categories</option>
                    {{#each categories}}
                        <option value="{{id}}">{{label}}</option>
                    {{/each}}
                </select>
            <!--<svg class="svg-arrow">
                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-arrow"></use>
            </svg>-->
            </label>
            <button class="button medium dark product-search-active search-button">Search Now!</button>

        </form>
    </div>
    <!-- /HEADLINE -->



    <div class="search-results"></div>

</div>
